img {
  border-radius: 50% 40% 50% 0;
  width: 7em;
  height: 7em;
  border: 1em solid white;
}
.wrapper {
  height: 50em;
  display: flex;
  flex-flow: row wrap;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}
.flex_h1 {
  display: flex;
  flex-direction: row;
  padding-top: 1em;
}
h1 {
  padding: 1em;
  padding-right: 6em;
  font-size: 2em;
  float: left;
  font-family: 'Comfortaa', cursive;
  font-weight: lighter;
  line-height: 2;
  color: #001427;
}
.header {
  border-top: 0.2em solid #B8B3E9;
  border-bottom: 0.2em solid #B8B3E9;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  padding-top: 1em;
  font-size: 1.5em;
  color: #001427;
  padding-right: 1em;
  font-family: 'Montserrat', sans-serif;
}


.footer {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  line-height: 1.5;
  background-color: #7E1F86;
  color: white;
}

a {
  text-decoration: none;
  color: #001427;
}
.onpage {
  color: #001427;
  text-shadow: 3px 3px 4px #7E1F86;
  font-weight: bold;
}
.navitem {
  padding: 0 1em 0 1em;
}
.main {
  text-align: justify;
  background: #89A6FB;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.7;
  color: white;
  padding: 2em;
  font-size: 1.3em;
  border: 2em solid white;
  font-weight: bold;

}
p {
  text-indent: 40px;
  padding-bottom: 1em;
}
.bold_words {
  font-style: italic;
}
.aside-1 {
  font-size: 3em;
  align-content: center;
  text-align: center;
  color: #001427;
  text-shadow: 2px 2px 4px #90E0F3;
  font-family: 'Comfortaa', cursive;
  padding-top: 2.5em;
  line-height: 2;
  font-weight: bold;
}

.aside-2 {
  font-size: 3em;
  align-content: center;
  text-align: center;
  color: #001427;
  text-shadow: 2px 2px 4px #90E0F3;
  font-family: 'Comfortaa', cursive;
  padding-top: 2.5em;
  line-height: 2;
  font-weight: bold;
}

form {
  padding-top: 1em;
  line-height: 1.5;
  box-sizing: border-box;
}
.odeslat {
  float: left;
  padding-top: 1em;
}
button[type=submit] {
  background-color: #708D81;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Libre Baskerville', serif;
  font-size: 0.8em;
}
.col-25 {
  float: left;
  width: 25%;
  font-size: 1em;
}

.col-75 {
  float: left;
  width: 75%;
  font-size: 1em;
  width: 28em;
}
@media all and (min-width: 600px) {
  .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; }
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}

body {
  padding: 2em;
}
