/* .navbar {
  display: flex;
  height: 10em;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  aligh-items: stretch;
  align-content: center;
}
.item_nav {
  width: 0.5em;
  height: 1em;
} */


.wrapper {
  height: 50em;
  display: flex;
  flex-flow: row wrap;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  border-top: 1em solid #708D81;
  display: flex;
  flex-flow: row wrap;
  justify-content:flex-end;
  padding-top: 2em;
  font-size: 2em;
  color: #001427;
  padding-right: 1em;

}
h1 {
  width: 100%;
  padding: 3em;
  font-size: 2em;
  float: left;
  font-family: 'Roboto', sans-serif;
  color: #001427;
}
.footer {

}

.navitem {
  padding: 0 1em 0 1em;
}
.main {
  text-align: justify;
  background: #F4D58D;
  font-family: 'Libre Baskerville', serif;
  padding-left: 1em;
  padding-right: 1em;
  letter-spacing: 2px;
  line-height: 1.6;
  color: #001427;
}

.aside-1 {
  font-size: 3em;
  align-content: center;
  text-align: center;
  color: #001427;
  text-shadow: 2px 2px 4px #708D81;
  font-family: 'Roboto', sans-serif;
}

.aside-2 {
  
}

@media all and (min-width: 600px) {
  .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; }
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}

body {
  padding: 2em;
}
